@charset "utf-8";

h1, h2, h3 {
  text-align: center;
  font-family: cursive;
  color: orange;
}

.container {
  width: 50%;
  min-width: 600px;
  margin-bottom: 50px;
  text-align;center;
  background-color: lightyellow;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}
